extends layout

block content 
    button(onclick="add_section()") Add Section
    button(onclick="add_event()") Add Event 
    button(onclick="edit_node()") Edit Node
    button(onclick="get_tree()") Get Tree
    button(onclick="get_score_node()") Get Score Node
    div(id="tree1")

    script(src="/js/public_sectionTree.js")