doctype html

html
  head
    title= title
    script(src="/jquery/dist/jquery.js")
    script(src="/jqtree/tree.jquery.js")
    link(rel="stylesheet" href="stylesheets/jqtree.css")
  body
    block content
