extends layout

block content
  link(rel='stylesheet', href="/css/jqtree-sections.css")
  body(id="whole_doc" class='container') 
    button(id="button_load_data") Load Data   
    div(id="tree1")

    script(type="module", src="/js/chooseParametersTree.js")
